# db
DATABASE_URL=postgres://myuser:mypassword@localhost:5432/mydatabase

# auth
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=
AUTH_DISCORD_CLIENT_ID=
AUTH_DISCORD_CLIENT_SECRET=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=

# vercel cron
CRON_SECRET=

# ports for local development (can be overwritten, but fallback to these defaults)
# PORT=3000 # automatically being read by next.js
# DB_PORT=5432
